@tailwind base;
@tailwind components;
@tailwind utilities;

.slash {
  position: relative;
}

.slash::before {
  content: "/";
  position: absolute;
  left: -10px;
  top: 0;
  transform: rotate(40deg);
  font-size: 0.8em;
  color: inherit;
}

.slash::after {
  content: "\\";
  position: absolute;
  right: -10px;
  top: 0;
  transform: rotate(-40deg);
  font-size: 0.8em;
  color: inherit;
}
